<div>
    <ul class="unstyled list-icons" ng-if="node">
        <li>
            <i class="icon icon-delete red hover-show pull-right" ng-click="removePicture()"></i>

            <i class="icon {{node.icon}} hover-hide"></i>
            {{node.name}}
        </li>
    </ul>
    <ul class="unstyled list-icons">
        <li>
            <i class="icon icon-add blue"></i>
            <a href ng-click="openMediaPicker()" prevent-default>
                Select
            </a>
        </li>
    </ul>
</div>
